  .page-title {
    font-size: 30px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
  
  .mb-3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .table-container {
    margin-top: 20px;
  }

  .icon-with-margin {
    margin-right: 8px;
    cursor: pointer;
  }